<!-- Non-pwa page display -->
<div *ngIf="nonPwaPages.includes(router.url)" class="mat-typography app-content-nonpwa">
  <main><router-outlet></router-outlet></main>
</div>

<mat-drawer-container fxLayout="column" fxFlex *ngIf="!nonPwaPages.includes(router.url)" class="app-container" autosize [class.unicorn-dark-theme]="isDarkTheme">
  <!-- Sidebar, separate when there's time -->
  <mat-drawer #drawer class="app-sidenav" mode="side" [(opened)]="opened">
    <mat-toolbar class="sidemenu-title" [class.unicorn-dark-theme]="isDarkTheme">
      <h1>{{title}}</h1>
    </mat-toolbar>
    <div>
      <span class="sidemenu-header">Your Accounts</span>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/dashboard" [routerLinkActive]="['is-active']" matTooltip="View your accounts" [matTooltipPosition]="'after'">
        <mat-icon>remove_red_eye</mat-icon> At a Glance
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Manage your ToasterPay Wallet (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>account_balance_wallet</mat-icon>Toaster Wallet
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Manage your credit cards (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>credit_card</mat-icon> Cards
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Manage your Loan Accounts (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>local_atm</mat-icon> Loans
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Calendar view of banking activities (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>date_range</mat-icon> Calendar View
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="View and generate e-statements (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>description</mat-icon> Statements
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Wealth advisory, powered by Machine Learning! (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>announcement</mat-icon> Money Insights
      </button>
    </div>
    <div>
      <span class="sidemenu-header">Payments and Transfers</span>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Transfer Funds (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>send</mat-icon> Transfer Funds
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Pay Bills (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>monetization_on</mat-icon> Pay Bills
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Manage GIRO Services (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>autorenew</mat-icon> GIRO Services
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Top-up cards directly from your accounts (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>library_add</mat-icon> Top Up Cards
      </button>
    </div>
    <div>
      <span class="sidemenu-header">Investments & Insurance</span>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Proceed to ToastBank Investments App (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>account_balance</mat-icon> Investments
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Manage Insurance Products by ToastBank partners! (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>security</mat-icon> Insurance
      </button>
    </div>
    <div>
      <span class="sidemenu-header">More</span>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/lifestyle" [routerLinkActive]="['is-active']" matTooltip="View Toaster-curated financal media" [matTooltipPosition]="'after'">
        <mat-icon>search</mat-icon> Discover
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" [routerLinkActive]="['is-active']" matTooltip="Gain some financal literacy and knowledge (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>school</mat-icon> Learn
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" matTooltip="View and claim Toaster Rewards (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>emoji_events</mat-icon> Rewards
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" matTooltip="Play some Toaster Bank games (Coming Soon!)" [matTooltipPosition]="'after'">
        <mat-icon>sports_esports</mat-icon> Games
      </button>
    </div>
    <div>
      <span class="sidemenu-header">Demo Shortcuts</span>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/landing" [routerLinkActive]="['is-active']" matTooltip="See the cool Parallax landing that was a pain to build!" [matTooltipPosition]="'after'">
        <mat-icon>flight_land</mat-icon> Landing
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/signup" [routerLinkActive]="['is-active']" matTooltip="Go through the simulated signup again!" [matTooltipPosition]="'after'">
        <mat-icon>fiber_new</mat-icon> Shoob and Toasty
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/wallet" [routerLinkActive]="['is-active']" matTooltip="Mambu API Playground that took a while to hook to this PWA, but it's done at least! 😢" [matTooltipPosition]="'after'">
        <mat-icon>settings</mat-icon> API Playground (UGLY!)
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="app-topbar" color="primary">
      <span>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
      <!-- This fills the remaining space of the current row -->
      <span class="toolbar-spacer"></span>
      <span>
        <button mat-icon-button (click)="isDarkTheme = !isDarkTheme" matTooltip="Switch between Dark and Light mode" [matTooltipPosition]="'below'">
          <mat-icon *ngIf="isDarkTheme">brightness_5</mat-icon>
          <mat-icon *ngIf="!isDarkTheme">brightness_4</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button matTooltip="Inbox" [matTooltipPosition]="'below'">
          <mat-icon>inbox</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button matTooltip="Settings" [matTooltipPosition]="'below'">
          <mat-icon>settings</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button matTooltip="Account" [matTooltipPosition]="'below'">
          <mat-icon>account_circle</mat-icon>
        </button>
      </span>
    </mat-toolbar>
    <div class="mat-typography mat-app-background app-content">
      <main><router-outlet></router-outlet></main>
    </div>
  </mat-drawer-content>
</mat-drawer-container>