<!-- Non-pwa page display -->
<div *ngIf="nonPwaPages.includes(router.url)" class="mat-typography app-content-nonpwa">
  <main><router-outlet></router-outlet></main>
</div>

<mat-drawer-container *ngIf="!nonPwaPages.includes(router.url)" class="app-container" autosize [class.unicorn-dark-theme]="isDarkTheme">
  <!-- Sidebar, separate when there's time -->
  <mat-drawer #drawer class="app-sidenav" mode="side" [(opened)]="opened">
    <mat-toolbar class="sidemenu-title" [class.unicorn-dark-theme]="isDarkTheme">
      <h1>{{title}}</h1>
    </mat-toolbar>
    <div>
      <span class="sidemenu-header">Your Accounts</span>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/dashboard" [routerLinkActive]="['is-active']">
        <mat-icon>remove_red_eye</mat-icon> At a Glance
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/wallet" [routerLinkActive]="['is-active']">
        <mat-icon>account_balance_wallet</mat-icon>Wallet
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>credit_card</mat-icon> Cards
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>local_atm</mat-icon> Loans
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>date_range</mat-icon> Calendar View
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>description</mat-icon> Statements
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>announcement</mat-icon> Money Insights
      </button>
    </div>
    <div>
      <span class="sidemenu-header">Payments and Transfers</span>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>send</mat-icon> Transfer Funds
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>monetization_on</mat-icon> Pay Bills
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>autorenew</mat-icon> GIRO Services
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>library_add</mat-icon> Top Up Cards
      </button>
    </div>
    <div>
      <span class="sidemenu-header">Investments & Insurance</span>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>account_balance</mat-icon> Investments
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>security</mat-icon> Insurance
      </button>
    </div>
    <div>
      <span class="sidemenu-header">More</span>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>search</mat-icon> Discover
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>school</mat-icon> Learn
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>emoji_events</mat-icon> Rewards
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/shoobplaceholder" [routerLinkActive]="['is-active']">
        <mat-icon>sports_esports</mat-icon> Games
      </button>
    </div>
    <div>
      <span class="sidemenu-header">Demo Shortcuts</span>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/login">
        <mat-icon>lock</mat-icon> Login
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/signup">
        <mat-icon>fiber_new</mat-icon> Wizard
      </button>
    </div>
    <div>
      <button mat-button class="sidemenu" routerLink="/landing">
        <mat-icon>flight_land</mat-icon> Landing
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="app-topbar" color="primary">
      <span>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
      <!-- This fills the remaining space of the current row -->
      <span class="toolbar-spacer"></span>
      <span>
        <button mat-icon-button (click)="isDarkTheme = !isDarkTheme">
          <mat-icon>inbox</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button (click)="isDarkTheme = !isDarkTheme">
          <mat-icon>settings</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button (click)="isDarkTheme = !isDarkTheme">
          <mat-icon>account_circle</mat-icon>
        </button>
      </span>
    </mat-toolbar>
    <div class="mat-typography mat-app-background app-content">
      <main><router-outlet></router-outlet></main>
    </div>
  </mat-drawer-content>
</mat-drawer-container>