<div fxFlex fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-around">

  <!-- User Account Profile -->
  <mat-accordion fxFlex="0 1 calc(100% - 32px)" class="example-headers-align">
    <!-- Perks -->
    <mat-expansion-panel (opened)="headeropenuser = true" (closed)="headeropenuser = false">
      <mat-expansion-panel-header class="youhave" [ngClass]="{'is-open': headeropenuser === true}">
        <mat-panel-title>
          {{clientName}}
        </mat-panel-title>
        <mat-panel-description>
          <span class="overview-flavor" [ngClass]="{'is-open': headeropenuser === true}">Veteran Resourceful
            Dynamo</span>
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="personalDataSource" class="mat-elevation-z8 data-table">

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>

        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef> CLASS </th>
          <td mat-cell *matCellDef="let element"> {{element.class}} </td>
        </ng-container>

        <ng-container matColumnDef="chara">
          <th mat-header-cell *matHeaderCellDef> CLASS Characteristics </th>
          <td mat-cell *matCellDef="let element"> {{element.chara}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="personalDataDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: personalDataDisplayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Assets Total -->
  <mat-card fxFlex="0 1 calc(50% - 32px)">
    <mat-card-header class="youhave">
      <mat-card-title>Total Assets</mat-card-title>
    </mat-card-header>
    <mat-card-content class="youhave">
      <p>SGD $35,218,712.48</p>
    </mat-card-content>
  </mat-card>

  <!-- Liabilities Total -->
  <mat-card fxFlex="0 1 calc(50% - 32px)">
    <mat-card-header class="youowe">
      <mat-card-title>Total Liabilities</mat-card-title>
    </mat-card-header>
    <mat-card-content class="youowe">
      <p>SGD $50,341.51</p>
    </mat-card-content>
  </mat-card>

  <!-- Account Overview Accordion -->
  <mat-accordion fxFlex="0 1 calc(100% - 32px)" class="example-headers-align">

    <!-- Perks -->
    <mat-expansion-panel (opened)="headeropenperks = true" (closed)="headeropenperks = false">
      <mat-expansion-panel-header class="youhave" [ngClass]="{'is-open': headeropenperks === true}">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-around">
          <mat-panel-title fxFlex="1 1 calc(30%-32px)">
            Account PΞRKS
          </mat-panel-title>
          <mat-panel-description fxFlex="1 1 calc(70%-32px)">
            <span fxFlex="1 1 auto"></span>
            <mat-icon matTooltip="Agility" fxFlex="0 1 2em">accessibility</mat-icon>
            <mat-icon matTooltip="Enhanced Grocery Cashback" fxFlex="0 1 2em">add_shopping_cart</mat-icon>
            <mat-icon matTooltip="Fixed Deposit Plus" fxFlex="0 1 2em">alarm</mat-icon>
            <mat-icon matTooltip="Enhanced Credit Card Cashback" fxFlex="0 1 2em">card_membership</mat-icon>
            <mat-icon matTooltip="Frequent Flyer" fxFlex="0 1 2em">flight_takeoff</mat-icon>
            <span fxFlex="1 1 auto"></span>
          </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="perksDataSource" class="mat-elevation-z8 data-table">

        <ng-container matColumnDef="perk">
          <th mat-header-cell *matHeaderCellDef> Perk </th>
          <td mat-cell *matCellDef="let element"> {{element.perk}} </td>
        </ng-container>

        <ng-container matColumnDef="effect">
          <th mat-header-cell *matHeaderCellDef> Effect </th>
          <td mat-cell *matCellDef="let element"> {{element.effect}} </td>
        </ng-container>

        <ng-container matColumnDef="condition">
          <th mat-header-cell *matHeaderCellDef> Condition </th>
          <td mat-cell *matCellDef="let element"> {{element.condition}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="perksDataDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: perksDataDisplayedColumns;"></tr>
      </table>
    </mat-expansion-panel>

    <!-- Deposits -->
    <mat-expansion-panel (opened)="headeropenacct = true" (closed)="headeropenacct = false">
      <mat-expansion-panel-header class="youhave" [ngClass]="{'is-open': headeropenacct === true}">
        <mat-panel-title>
          Deposits:
        </mat-panel-title>
        <mat-panel-description>
          <span class="overview-flavor youhave" [ngClass]="{'is-open': headeropenacct === true}">$50.02
            Total</span>
          <mat-icon>toll</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="txSource" class="mat-elevation-z8 data-table">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
        </ng-container>
        <ng-container matColumnDef="amt">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amt}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="txDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: txDisplayedColumns;"></tr>
      </table>
    </mat-expansion-panel>

    <!-- Investments -->
    <mat-expansion-panel (opened)="headeropeninvestment = true" (closed)="headeropeninvestment = false">
      <mat-expansion-panel-header class="youhave" [ngClass]="{'is-open': headeropeninvestment === true}">
        <mat-panel-title>
          Insurances:
        </mat-panel-title>
        <mat-panel-description>
          <span class="overview-flavor youhave" [ngClass]="{'is-open': headeropeninvestment === true}">$6,524.02 in
            monthly
            premiums for $1,200,000.00</span>
          <mat-icon>security</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="txSource" class="mat-elevation-z8 data-table">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
        </ng-container>
        <ng-container matColumnDef="amt">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amt}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="txDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: txDisplayedColumns;"></tr>
      </table>
    </mat-expansion-panel>

    <!-- Insurance -->
    <mat-expansion-panel (opened)="headeropeninsurance = true" (closed)="headeropeninsurance = false">
      <mat-expansion-panel-header class="youhave" [ngClass]="{'is-open': headeropeninsurance === true}">
        <mat-panel-title>
          Investments:
        </mat-panel-title>
        <mat-panel-description>
          <span class="overview-flavor youhave" [ngClass]="{'is-open': headeropeninsurance === true}">$35,212,138.44
            Estimated</span>
          <mat-icon>account_balance</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="txSource" class="mat-elevation-z8 data-table">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
        </ng-container>
        <ng-container matColumnDef="amt">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amt}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="txDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: txDisplayedColumns;"></tr>
      </table>
    </mat-expansion-panel>

    <!-- Credit Cards -->
    <mat-expansion-panel (opened)="headeropencc = true" (closed)="headeropencc = false">
      <mat-expansion-panel-header class="youowe" [ngClass]="{'is-open': headeropencc === true}">
        <mat-panel-title>
          Credit Cards:
        </mat-panel-title>
        <mat-panel-description>
          <span class="overview-flavor youowe" [ngClass]="{'is-open': headeropencc === true}">$12,120.02
          </span>
          <mat-icon>credit_card</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="txSource" class="mat-elevation-z8 data-table">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
        </ng-container>
        <ng-container matColumnDef="amt">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amt}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="txDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: txDisplayedColumns;"></tr>
      </table>
    </mat-expansion-panel>

    <!-- Loans -->
    <mat-expansion-panel (opened)="headeropenloan = true" (closed)="headeropenloan = false">
      <mat-expansion-panel-header class="youowe" [ngClass]="{'is-open': headeropenloan === true}">
        <mat-panel-title>
          Loans:
        </mat-panel-title>
        <mat-panel-description>
          <span class="overview-flavor youowe" [ngClass]="{'is-open': headeropenloan === true}">$38,221.49
          </span>
          <mat-icon>local_atm</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="txSource" class="mat-elevation-z8 data-table">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
        </ng-container>
        <ng-container matColumnDef="amt">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amt}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="txDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: txDisplayedColumns;"></tr>
      </table>
    </mat-expansion-panel>

  </mat-accordion>
</div>