mat-accordion {
  margin: 10px;
}

mat-card-header.youhave {
  min-width: 40vw;
}

mat-card-header.youowe {
  min-width: 40vw;
}

mat-expansion-panel-header{
  transition: background-color 0.5s ease;
}

mat-expansion-panel-header.youhave.is-open {
  background-color: darkgreen !important;
}

mat-expansion-panel-header.youowe.is-open {
  background-color: darkgoldenrod !important;
}

span.overview-flavor {
  transition: color 0.5s ease;
  font-weight: bold;
}

span.youhave {
  color: green;
}

span.youowe {
  color: darkorange;
}

span.is-open {
  color: white;
}

mat-card-content.youhave {
  text-align: center;
  color: green;
  font-size: 2em;
}

mat-card-content.youowe {
  text-align: center;
  color: darkorange;
  font-size: 2em;
}

mat-card {
  margin: 10px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.data-table{
  width: 100%;
}

@media only screen and (max-width: 600px) {
  mat-panel-description {
    display: none;
  }

  mat-card-header.youhave {
    min-width: 40vw;
  }
  
  mat-card-header.youowe {
    min-width: 40vw;
  }

  mat-card-content.youhave {
    text-align: center;
    font-size: 1.5em;
  }
  
  mat-card-content.youowe {
    text-align: center;
    font-size: 1.5em;
  }

  .mat-card-title{
    font-size: 1em;
  }
}
