.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card {
    margin:10px;
}

p.disclaimer {
    font-size: smaller;
    color: rgba($color: #8d8d8d, $alpha: 1.0) ;
    text-align: center;
}