<div fxFlex fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.sm="space-around stretch" fxLayoutAlign.xs="space-around stretch" fxLayoutAlign="space-around flex-start">
    <mat-card fxFlex="0 1 calc(33.3% - 32px)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Fixed Deposit vs Savings Account - what's the difference?</mat-card-title>
            <mat-card-subtitle>moneysmart.sg</mat-card-subtitle>
        </mat-card-header>
        <iframe mat-card-image width="560" height="315" src="https://www.youtube.com/embed/Sq9hjlnEgY0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <mat-card-content>
            <p>
                Fixed Deposit accounts used to be an attractive alternative to Savings Account with their low interest
                rates. However, as high interest savings accounts have become more popular, what are the differences
                between Fixed Deposit and Savings Accounts, and which should you go for?
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>GO TO PAGE</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="0 1 calc(33.3% - 32px)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Investing In Stocks For Beginners</mat-card-title>
            <mat-card-subtitle>Proactive Thinker (YouTube)</mat-card-subtitle>
        </mat-card-header>
        <iframe mat-card-image width="560" height="315" src="https://www.youtube.com/embed/Sbp_t4guM8g" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <mat-card-content>
            <p>
                Not sure where to start? Check out this video by Proactive Thinker!
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>GO TO PAGE</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="0 1 calc(33.3% - 32px)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Loan Basics: Understanding the different kinds of loans</mat-card-title>
            <mat-card-subtitle>VyStarCreditUnion (YouTube)</mat-card-subtitle>
        </mat-card-header>
        <iframe mat-card-image width="560" height="315" src="https://www.youtube.com/embed/L7zXxgEZ1pg" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <mat-card-content>
            <p>
                What are the basics of loans to meet your needs? Find out what the lending terminology means.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>GO TO PAGE</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="0 1 calc(33.3% - 32px)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>COVID-19 is a test of LONG TERM thinking</mat-card-title>
            <mat-card-subtitle>The Woke Salaryman</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image 
            src="https://i1.wp.com/thewokesalaryman.com/wp-content/uploads/2020/04/test_001.jpg?resize=768%2C960&ssl=1">
        <mat-card-content>
            <p>Stay safe, stay home, stay woke, salaryman. 😷</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>GO TO PAGE</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="0 1 calc(33.3% - 32px)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>How Much Money I Make From Tik Tok</mat-card-title>
            <mat-card-subtitle>The Graham Stephan Show</mat-card-subtitle>
        </mat-card-header>
        <iframe mat-card-image width="560" height="315" src="https://www.youtube.com/embed/Yaw-hdbFqug" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <mat-card-content>
            <p>
                Today we speak with a Tik Tok Finance channel who goes over how much he makes from the app - Enjoy! Add
                me on Instagram: GPStephan
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>GO TO PAGE</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="0 1 calc(33.3% - 32px)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Just Graduated? Make these 7 money moves now.</mat-card-title>
            <mat-card-subtitle>The Woke Salaryman</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://i2.wp.com/thewokesalaryman.com/wp-content/uploads/2020/04/Comic2_001.jpg?resize=640%2C640&ssl=1">
        <mat-card-content>
            <p>So you wanna know how to PERSONAL FINANCE like an ADULT?!?!</p>
            <p>WARNING: THIS COMIC CONTAINS ELEMENTS OF SPONSORSHIP WITH FRANK by OCBC. DO NOT CLICK IF SPONSORED
                CONTENT OFFENDS YOU - STAY AT LEAST 1 METER AWAY FROM THIS POST.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>GO TO PAGE</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <div fxFlex="0 1 90%"><p class="disclaimer">Disclaimer: Simulated Content Aggregation, for demo purposes only</p></div>
</div>