<a #top name="top">
    <section class="container container--full">
        <div class="content" style="position:relative;">
            <div class="arrow" id="arrow"><img src="/assets/images/arrow-down.png"></div>
            <h1>TΞLLΞR</h1>
            <p>Let’s realize your dreams through customized banking solutions
            </p>
            <button mat-raised-button class="mat-elevation-z12" routerLink="/signup">Just sign me up!</button>
            <button mat-raised-button class="mat-elevation-z12" color="accent" routerLink="/dashboard">I'm a returning
                user!</button>
            <button mat-raised-button class="mat-elevation-z12" color="primary" (click)="scroll(pwa)">I wanna learn
                more!</button>
            <p style="font-size:smaller; color: gray;">For demo only, please keep refreshing if images dont load. :(</p>
        </div>
        <div class="parallax" data-parallax-image="https://i.imgur.com/RFYozNe.png"></div>
    </section>
</a>

<a #pwa name="pwa">
    <section class="container container--full">
        <div class="content">
            <h2>Why TΞLLΞR?</h2>
            <br>
            <p>
                We are the digital banking MasterApp providing financial autonomy for youths through an engaging,
                personalized experience
            </p>
            <button mat-raised-button class="mat-elevation-z12" color="primary" (click)="scroll(perks)">Find out about
                PΞRKS</button>
        </div>
        <div class="parallax" class="parallax" data-parallax-image="https://i.imgur.com/JTvpExc.png"></div>
    </section>
</a>

<a #perks name="perks">
    <section class="container container--full">
        <div class="content">
            <h2>PΞRKS</h2>
            <br>
            <p>
                Pick and choose which benefits you want to enjoy in your bank services: Higher savings interest? Lower
                Forex rates? Grocery cashback? Match it to your lifestyle!
            </p>
            <button mat-raised-button class="mat-elevation-z12" color="primary" (click)="scroll(classes)">Find out about
                CLASSΞS</button>
        </div>
        <div class="parallax" class="parallax" data-parallax-image="https://i.imgur.com/BMBBvHs.png"></div>
    </section>
</a>

<a #classes name="classes">
    <section class="container container--full">
        <div class="content">
            <h2>CLASSΞS</h2>
            <br>
            <p>
                Our algorithms can identify your financial profile, something we call CLASS. Based on your CLASS, you
                will receive tailored recommendations and financial advice!
            </p>
            <button mat-raised-button color="primary" class="mat-elevation-z12" (click)="scroll(cta)">Sign me
                up!</button>
        </div>
        <div class="parallax" class="parallax" data-parallax-image="https://i.imgur.com/RXxEk9f.png"></div>
    </section>
</a>

<a #cta name="cta">
    <section class="container container--full">
        <div class="content">
            <h2>Let us guide you on your financial journey</h2>
            <br>
            <p>
                Enjoy the smoothest sign-up ever for a bank account
            </p>
            <button mat-stroked-button class="mat-elevation-z12" (click)="scroll(top)">Back to Top!</button>
            <button mat-raised-button class="mat-elevation-z12" routerLink="/signup" color="primary">Let's get
                started!</button>
        </div>
        <div class="parallax" class="parallax" data-parallax-image="https://i.imgur.com/dmkFtPa.png"></div>
    </section>
</a>