<a #top name="top">
    <section class="container container--full">
        <div class="content" style="position:relative;">
            <div class="arrow" id="arrow"><img src="/assets/images/arrow-down.png"></div>
            <h1>ToastBank Teller</h1>
            <p>One-stop MasterApp from ToastBank</p>
            <button mat-raised-button class="mat-elevation-z12" routerLink="/signup">Get down to Business!</button>
            <button mat-raised-button class="mat-elevation-z12" color="primary" (click)="scroll(msg)">I wanna learn
                more!</button>
            <p style="font-size:smaller; color: gray;">For demo only, please keep refreshing if images dont load. :(</p>
        </div>
        <div class="parallax" data-parallax-image="https://i.imgur.com/JTvpExc.png"></div>
    </section>
</a>

<a #msg name="msg">
    <section class="container container--full">
        <div class="content">
            <h2>From the ToastBank Team, with fun.</h2>
            <br>
            <p>
                Teller is cool. More generic Endorsement writeup.
                <br>
                Banking, now gamified.
            </p>
            <button mat-raised-button class="mat-elevation-z12" color="primary" (click)="scroll(pwa)">Next: About
                Teller</button>
        </div>
        <div class="parallax" data-parallax-image="https://i.imgur.com/HCgXOsQ.png"></div>
    </section>
</a>

<a #pwa name="pwa">
    <section class="container container--full">
        <div class="content">
            <h2>Why Teller?</h2>
            <br>
            <p>
                Writeup for Teller here.
            </p>
            <button mat-raised-button class="mat-elevation-z12" color="primary" (click)="scroll(classes)">Next:
                Character Classes</button>
        </div>
        <div class="parallax" class="parallax" data-parallax-image="/assets/images/bg3.jpg"></div>
    </section>
</a>

<a #classes name="classes">
    <section class="container container--full">
        <div class="content">
            <h2>Account Classes? What's that?</h2>
            <br>
            <p>
                Writeup for Account Classes here.
            </p>
            <button mat-raised-button color="primary" class="mat-elevation-z12" (click)="scroll(cta)">Next: Character
                Classes</button>
        </div>
        <div class="parallax" class="parallax" data-parallax-image="/assets/images/bg3.jpg"></div>
    </section>
</a>

<a #cta name="cta">
    <section class="container container--full">
        <div class="content">
            <h2>So what are you waiting for?</h2>
            <br>
            <p>
                Writeup for CTA here.
            </p>
            <button mat-stroked-button class="mat-elevation-z12" (click)="scroll(top)">Back to Top</button>
            <button mat-raised-button class="mat-elevation-z12" routerLink="/signup" color="primary">Get down to
                Business!</button>
        </div>
        <div class="parallax" class="parallax" data-parallax-image="/assets/images/bg3.jpg"></div>
    </section>
</a>